name: github-actions

on:
  workflow_dispatch:
    inputs:
      grep:
        description: 'A grep '
        required: false
        default: ''
      testomatio:
        required: false
      testomatio_url:
        required: false        
      run:
        required: false
      browsers:
        required: false
      testomatio_env:
        required: false
      suites:
        description: 'Test suites to run'
        required: false

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: 20.x
    - run: echo "${{ github.event.inputs.browsers }}"
    - run: npm i
    - run: npm i --save-dev @testomatio/reporter@latest
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps    
    - run: npx codeceptjs run --grep "${{ github.event.inputs.grep }}"
      env:
        DEBUG: "@testomatio/reporter:*" 
        TESTOMATIO: "${{ github.event.inputs.testomatio }}"
        TESTOMATIO_URL: "${{ github.event.inputs.testomatio_url }}"
        TESTOMATIO_RUN: "${{ github.event.inputs.run }}"
        BROWSER: "${{ github.event.inputs.browser }}"
        TESTOMATIO_ENV: "${{ github.event.inputs.testomatio_env }}"
        TEST_USER: "${{ github.event.inputs.user }}"
        SUITES: "${{ github.event.inputs.suites }}"
        TEST_PASSWORD: "${{ github.event.inputs.password }}"
        
